{% extends "base.html" %}

{% block 'contenido' %}
  <h1 class="text-center">El flan te espera {{ user.username|upper }}</h1>
  <div class="container mt-5 mb-5 pb-5">
    <div class="row pb-5">
      {% for flan in flanes %}
        <div class="card m-2" style="width: 18rem;">
          <img src="{{ flan.image_url }}" class="card-img-top w-100 h-100 mt-2" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase">{{ flan.name }}</h5>
            <div class="text-center">
              <a href="/flan/{{ flan.id }}" class="btn btn-outline-secondary">Detalles</a>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}